.sign-up {
    min-height: 350px;
    width: 400px;
    /*border: 5px solid lightskyblue;*/
    border-radius: 30px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}